<div class="modal-content rounded">
    <div class="modal-header">
        <h4 class="modal-title">{{task.task_name}}</h4>
    </div>
    <div class="modal-body">
        <label class="text-light mb-0 small">Техника</label>
        <select class="form-control" ng-change="setToTime(task)" ng-options="car.Car_name for car in cars"
                ng-model="task.carSelected"></select>


        <div ng-repeat="track in task.tracksList">
            <div class="row mt-2">
                <div class="col-6">
                    <label class="text-light mb-0 small">Время начала</label>
                    <input placeholder="" class="form-control" ng-init="setNowTime(track.from)" ng-model="track.from">
                </div>
                <div class="col-6">
                    <label class="text-light mb-0 small">Время окончания</label>
                    <input placeholder="" class="form-control" ng-model="track.to">
                </div>
            </div>
            <label class="text-light mb-0 mt-1 small">Участок {{$index+1}}</label>
            <select class="form-control" ng-change="setToTime1(task,track)" ng-options="track.Track_name  for track in tracks"
                    ng-model="track.trackSelected"></select>

        </div>
        <button class="btn btn-outline-success px-3  mt-3 py-1 ml-0 rounded" type="button" ng-click="addTrack()">Добавить участок</button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-light px-3 py-2 ml-0 rounded" type="button" ng-click="cancel()">Отмена</button>
        <button class="btn btn-success px-3 py-2 ml-0 rounded" type="button" ng-click="saveTask()()">Добавить</button>
    </div>
</div>