<footer id="yt_footer" class="block mt-4">
    <hr>
    <div class="container">
       <div class="row">
                <div class="col-12">
                    <p class="text-center">© 2020. Di.SVO</p>
                </div>
                <!--<div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href=""><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>-->
            </div>
    </div>
</footer>