<!--<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>-->
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row mt-3" style="margin-bottom: 20px;">
        <div class="col-12">
            <div class="d-inline-block">
                <h1 style="font-family: Montserrat, sans-serif;" class="mb-0 headerFont">Интерактивная карта</h1>
            </div>
        </div>
    </div>
    <div ng-class="{'icon-loading':loading}"></div>
    <div ng-show="!loading" class="row">
        <div class="col" >
            <iframe width="1850" height="800" src id="iframe"/>
        </div>
    </div>
</div>