<div class="container-fluid px-0">
    <div class="row h-100 vh-100 " style="max-width: 100%;">

        <div class="col d-xl-flex mx-2 justify-content-xl-center align-items-xl-center">
            <div class="card ml-2 mt-2" style="min-width:55% !important; background: rgba(255,255,255,0);border-color: rgba(33,37,41,0);">
                <div class="card-body flex-column justify-content-xl-center align-items-xl-center">
                    <h1 class="card-title" style="font-family: Montserrat, sans-serif;font-weight: normal;margin-bottom: 51px;font-size: 36px;letter-spacing: 1%;">Войти в систему</h1>
                    <p class="justify-content-xl-start" style="margin-bottom: 0px;font-family: Montserrat, sans-serif;color: rgb(0,0,0);font-weight: normal;">Логин</p>
                    <input required ng-model="login" ng-class="{'ng-invalids':!login && isLoginError}" class="form-control-lg" type="text" style="width: 100%;margin-bottom: 25px;padding-left: 0px;background: rgba(255,255,255,0);border-color: rgb(0,0,0);border-top-style: none;border-right-style: none;border-bottom-width: 1px;border-bottom-color: rgb(0,0,0);border-left-style: none;">
                    <p style="margin-bottom: 0px;font-family: Montserrat, sans-serif;color: rgb(0,0,0);font-weight: normal;">Пароль</p>
                    <input required ng-model="password" ng-class="{'ng-invalids':!password && isLoginError}" class="form-control-lg" type="password" style="width: 100%;margin-bottom: 75px;padding-left: 0px;background: rgba(255,255,255,0);border-color: rgb(0,0,0);border-top-style: none;border-right-style: none;border-bottom-width: 1px;border-bottom-color: rgb(0,0,0);border-left-style: none;">
                    <div class="row text-center d-flex flex-column justify-content-xl-center align-items-xl-center">
                        <div class="col">
                            <button ng-click="auth()" class="btn btn-lg w-100 text-nowrap" type="button" style="height: 60px;background: linear-gradient(-92deg, #2a8bf2, #7cb8f7);color: rgb(255,255,255);font-family: Montserrat, sans-serif; font-size: 22px;">
                            <strong>Вход</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--<div class="row mh-100vh">
        <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
            <div class="m-auto w-lg-75 w-xl-50">
                <h2 class="text-info font-weight-light mb-5 mainColor" ><i class="fa fa-connectdevelop" ></i>РОССЕТИ</h2>
                <form>
                    <div class="form-group">
                        <label class="text-secondary mainColor">Логин</label>
                        <input class="form-control" type="text"   ng-model="login" ng-class="{'ng-invalids':!login && isLoginError}">
                    </div>
                    <div class="form-group">
                        <label class="text-secondary mainColor">Пароль</label>
                        <input class="form-control" type="password"   ng-model="password" ng-class="{'ng-invalids':!password && isLoginError}"  >
                    </div>
                    <button class="btn btn-primary px-3 py-2 ml-0 rounded   text-white" ng-click="auth()" type="submit">Войти</button>
                </form>
                &lt;!&ndash;<br>
                <button class="btn btn-info px-3 py-2 ml-0 rounded mainColor" ng-click="createUser()" type="submit">Создать пользователя</button>
                <p>
                    User authorized with id: {{user.user_id}}
                </p>
                <button ng-if="user.user_id" class="btn btn-info px-3 py-2 ml-0 rounded mainColor" ng-click="editUser()" type="submit">Редактировать пользователя</button>
                <button class="btn btn-info px-3 py-2 ml-0 rounded mainColor" ng-click="infoModal()" type="submit">Модалка инфо</button>
                <button class="btn btn-info px-3 py-2 ml-0 rounded mainColor" ng-click="confirm()" type="submit">Модалка подтверждение</button>
                <p class="mt-3 mb-0"><a class="text-info small mainColor" href="#/remember">Забыли Логин или Пароль?</a></p>&ndash;&gt;
            </div>
        </div>
            <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background: url(assets/img/fiber-4814456_1920.jpg) top / cover;">
        </div>
    </div>-->
</div>
