<!--<div class="container-fluid p-3" ng-show="!user || !user.user_id">
    <div>Недостаточно учетных данных <a href="#/login">Войти</a> </div>
</div>-->
<div class="container px-0">
    <div class="row mt-3" style="margin-bottom: 20px;">
        <div class="col-9">
            <div class="d-inline-block">
                <img class="d-inline-flex" width="35" height="35" src="images/icons/user-icons/5.png"/> <label style="font-family: Montserrat, sans-serif;" class="mb-0 d-contents">Орлова Дарья Алексеевна</label>
                <h1 style="font-family: Montserrat, sans-serif;" class="mb-0 mt-3 headerFont">Доска задач</h1>
            </div>
        </div>
        <div class="col-3 text-right">
            <label class="text-light mb-0 small">{{curDate}}</label>
            <p class="bold text-dark">{{weather}}</p>
        </div>
    </div>
    <hr class="row border-bottom bold"> </hr>
    <div class="row mt-3">
        <div class="col-9 mt-1">
            <label class="ml-2 mt-1 mb-0 ">Фильтры: </label>
            <span uib-popover-template="'priority.html'" popover-trigger="'click'" popover-title="Приоритет" popover-placement="bottom"
                  ng-click="isSelected = 'priority'; getAllTasksByFilter(isSelected); " ng-class="{'badge-primary rounded': isSelected == 'priority' }" class="p-1   pointer text-primary ">По приоритету <span class="fa fa-chevron-down"  ng-class="{'fa-chevron-down': isSelected == 'priority', 'fa-chevron-up': isSelected != 'priority'}"></span></span>
            <script type="text/ng-template" id="priority.html">
                <div>
                    <input type="checkbox" id="prior1" class="mr-2" ng-change="getAllTasksByFilter()" ng-model="prioritySelected.checked1"><label for="prior1">Высший приоритет</label><br/>
                    <input type="checkbox" id="prior2" class="mr-2" ng-change="getAllTasksByFilter()" ng-model="prioritySelected.checked2"><label for="prior2">Средний приоритет</label><br/>
                    <input type="checkbox" id="prior3" class="mr-2" ng-change="getAllTasksByFilter()" ng-model="prioritySelected.checked3"><label for="prior3">Низший приоритет</label><br/>
                </div>
            </script>

            <span ng-click="isSelected = 'time'; getAllTasksByFilter(isSelected);" class="ml-3 p-1 text-primary pointer" ng-class="{'badge-primary rounded': isSelected == 'time' }">По времени</span>
            <span ng-click="isSelected = 'line';getAllTasksByFilter(isSelected); " class="ml-3  p-1 text-primary pointer" ng-class="{'badge-primary rounded': isSelected == 'line' }">Только взлетные полосы</span>
        </div>

        <div class="col-3 pb-3">
         <!--   <label class="small text-dark">Поиск</label>-->
            <input placeholder="Поиск" ng-model="search.search" class="form-control" ng-change="getAllTasksByFilter()">
        </div>
    </div>
    <div class="row">
        <div class="col-12 overflow-auto">
            <div id="myKanban"></div>
        </div>
    </div>
</div>
